:root {
    --main-bg-color: #282c37;
    --calendar-bg-color: #eee;
    --lines-color: black;
    --day-number: black;
    --day-number2: #282c37;
    --time-color: black;
    --place-color: black;
    --event-color: #282c37;
    --today-foreground: white;
    --today-circle: red;
    --event-background: orange;
    --event-foreground:white;
    --title-text: #282c37;
    --title-background: #ccc;
}

@font-face {
  font-family: 'Bedstead';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src: url('./fonts/bedstead.otf') format('opentype');
}

body {
    background-color: var(--main-bg-color);
    color: var(--day-number2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 700;
    min-height: 100vh;
}

main {
    background-color: var(--calendar-bg-color);
    -ms-flex-preferred-size: 980px;
    flex-basis: 980px;
}

.calendar {
    table-display: fixed;
    width: 100%;
}

a:visited{
    color: var(--day-number);
    text-decoration: none;
    z-index: 1;
    padding: 1rem;
    margin: -1rem;
}

a:link {
    color: var(--day-number);
    text-decoration: none;
    z-index: 1;
    padding: 1rem;
    margin: -1rem;
}

.calendar__day__header,
.calendar__day__cell {
    border: 2px solid var(--lines-color);
    text-align: center;
    width: 100% / 7;
    vertical-align: middle;
}
.calendar__day__header:first-child,
.calendar__day__cell:first-child {
    border-left: none;
}
.calendar__day__header:last-child,
.calendar__day__cell:last-child {
    border-right: none;
}

.calendar__day__header,
.calendar__day__cell {
    padding: .75rem 0 1.5rem;
}

.calendar__banner--month {
    text-align: center;
    padding: .75rem;
}
.calendar__banner--month h1 {
    background-color: var(--title-background);
    color: var(--title-text);
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding: .5rem 2rem;
    text-transform: uppercase;
}

.calendar__day__header {
    font-size: 1rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.calendar__day__cell {
    font-size: 4rem;
    position: relative;
}

.year {
    font-size: 30px;
}

.calendar__day__event {
    color: var(--event-color);
    float: left;
    font-size: 28px;
    position: relative;
    padding: 20px;
}
.place {
    color: var(--place-color);
    float: left;
    font-size: 38px;
    position: relative;
}

.calendar__day__time {
    color: var(--time-color);
    float: left;
    font-size: 38px;
    position: relative;
    padding: 20px;
}

.calendar__day__icons {
    width: 10%;
    position: relative;
    padding: 20px;
}

tr { border: none; }
td {
    border-left: solid 2px var(--lines-color);
}

tr:nth-child(odd) > .calendar__day__cell:nth-child(odd) {
    color: var(--day-number);
}

tr:nth-child(even) > .calendar__day__cell:nth-child(even) {
    color: var(--day-number);
}

.calendar__day__cell[data-event] {
    background-color: var(--event-background);
    color: var(--event-foreground);
}

.calendar__day__cell[data-today] {
    border-radius: 50%;
    border: 4px solid var(--today-circle);
    color: var(--today-circle);
    text-align: center;
}

.calendar__day__cell[data-today-event] {
    border-radius: 50%;
    background-color: var(--event-background);
    border: 4px solid var(--today-circle);
    color: var(--event-foreground);
    text-align: center;
}

.calendardayicon {
    width: 100%
}

.buttonprev {
    float: left;
    width: 10%;
    -ms-transform: translateY(30%);
    transform: translateY(30%);
}

.buttonnext {
    float: right;
    width: 10%;
    -ms-transform: translateY(30%) scaleX(-1);
    transform: translateY(30%) scaleX(-1);
}
